* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    /* height: 90vh; */
    /* background-color: #0f0; */
    overflow: hidden;
}

ul {
    list-style: none;
}

#nav_bar {
    display: flex;
    color: #fff;
    height: 42px;
}



#logo img {
    position: absolute;
    top: 3px;
    right: 10px;
    background-color: #fff;
    border-radius: 4px;
    /* height: 40px; */
}


#nav_bar img {
    height: 35px;
}


#nav_title {
    font-size: 10px;
    letter-spacing: 7px;

    margin: 11px 38px;
    text-align: center;
    margin-right: 30px;
}

.container {
    position: relative;
    /* border: 4px solid rgb(133, 133, 7); */
    background-color: #ee9595;
    z-index: 3;
    /* background: u rl('./modules/sea.jpg'); */
    background-color: #023C40;



}

.menu_sidebar_container-toggle {
    display: inline-block;
    padding: 4px 10px;
    cursor: pointer;
    background: none;
    color: #fff;

}

.menu_sidebar_container-toggle div {
    font-size: 30px;

}

.menu_sidebar_container {
    position: absolute;
    top: 20;
    left: -230px;
    /* Hidden initially */
    width: 280px;
    /* background-color: #dbd6d6; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
    transition: left 0.3s ease-in-out;

}

.container button {
    border: none;
}

.menu {
    /* border: 2px  solid mediumvioletred; */
    width: 70%;
    height: 100vh;
    width: 230px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: inherit;
    background-color: #ffffff;
    padding-bottom: 75px;


}


::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    width: 0;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 4px;
    width: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8a2c2c;
}


.menu_sidebar_container.active {
    left: 0;
    /* Slide in when active */

}

#menu_open {
    display: block;
    position: absolute;
    top: 8px;
    left: 6px
}

#menu_close {
    display: none;
    position: absolute;
    top: 8px;
    left: 6px
}


/* .menu_sidebar_container ul {
    list-style: none;
    padding: 0;
    0;
} */

/* .menu_sidebar_container li {
    padding: 10px;
    border-bottom: 1px solid #ffffff;
} */

/* .menu_sidebar_container li:hover {
    background-color: #2c8a6a;
} */

#plans {
    display: none;
}

.side_menu_cat1 {
    margin-top: 10PX;
    margin-left: 10px;

    margin-right: 7px;
    margin-bottom: 70px;
    border-radius: 6px;
    cursor: pointer;

}


.side_menu_container_optins {
    border: 1px solid #4bb697;
    border-radius: 6px;
    margin-bottom: 5px;

}

.side_menu_cat1 li {
    padding: 10px;
    /* 5px; */

    background-color: #4bb697;
    border-radius: 6px;
    cursor: pointer;
}

.side_menu_cat2 {

    display: none;

    font-size: 15px;
    padding: 10px;
    margin-bottom: 7px;
    cursor: pointer;

}

.side_menu_cat2.show {
    display: block;
}

.side_menu_cat2 li {
    background-color: #83E9A6;
    border-radius: 6PX;
    margin-top: 5px;
    cursor: pointer;


}



.side_menu_cat3 {

    display: none;
    font-size: 13px;

}

.side_menu_cat3.show {
    display: block;
}

.side_menu_cat3 li {

    padding-left: 10px;
    background-color: #e1ffff;
    cursor: pointer;

}

.side_menu_container_optins div {
    background-color: #e1ffff;
}

.side_menu_container_optins div label {
    margin-left: 10px;
    cursor: pointer;

}

.side_menu_container_optins div select {
    width: 90%;
    border: 1px solid #023C40;
    border-radius: 6px;
    padding: 7px;
    background-color: #fff;
    margin-left: 10px;
    cursor: pointer;
}

.side_menu_container_optins div input {
    width: 90%;
    border: 1px solid #023C40;
    border-radius: 6px;
    padding: 7px;
    background-color: #fff;
    margin-left: 10px;
    cursor: pointer;
}

.side_menu_container_optins div input {
    padding: 7px;
    background-color: #fff;
    margin-left: 10px;
    border-radius: 6px;
    border: 1px solid #023C40;
    cursor: pointer;


}

/* .side_menu_container_optins div input[type="submit"],
button {
    margin-top: 18px;
    background-color: #03822b;
    border-radius: 6px;
    border: 1px solid #013311;
    color: #fff;
    cursor: pointer;

} */

.side_menu_container_optins div button {
    padding: 11px;
    margin: 10px;
    background-color: #023C40;
    color: #fff;
    border-radius: 7px;


}


.side_menu_container_optins div input[type="reset"] {
    margin: 10px;
    background-color: #961717;
    border-radius: 6px;
    border: 1px solid #330101;
    color: #fff;
    cursor: pointer;

}

.side_menu_container_optins div input[type="file"] {
    width: 90%;
    cursor: pointer;

}

.submenu li {
    padding-left: 20px;
    cursor: pointer;

}

.menu_sidebar_container {
    display: flex;
    flex-direction: row;

}

.menu_sidebar_container #sidebar li {

    list-style: none;
    /* 5px; */
    background-color: #a4e7d1;
    color: #000;
    /* padding: 0; */
    cursor: pointer;

}




#sidebar {
    height: 90vh;

}

#sidebar li {
    padding: 6px;
    margin-bottom: 2px;

}

#sidebar-fullscrIn-btn {
    display: block;
}

#sidebar-fullscrOut-btn {
    display: none;
}

#sidebar-draw {
    position: absolute;
    top: 206px;
    left: 268px;
    display: flex;
    display: none;
    transition: display 0.3s ease;
    z-index: 1;
}

#sidebar-draw.show {
    display: flex;
    /* Or any desired display style */
}

#sidebar-measure {
    position: absolute;
    top: 249px;
    left: 268px;
    display: none;
    transition: opacity 0.5s, display .5s;
    z-index: 1;


}

#sidebar-measure.show {
    display: flex;
    /* Or any desired display style */
}

#Print_tool {
    position: absolute;
    top: 291px;
    left: 268px;
    display: none;
    transition: display 0.3s ease;
    z-index: 1;
    background-color: #a4e7d1;
    padding: 10px;
    width: 180px;
}

#Print_tool.show {
    display: block;
}





#Print_tool select {
    width: 90%;
    border-radius: 3px;
    background-color: #c4c4c4;
    padding: 5px;
}

#Print_tool button {
    border-radius: 4px;
    padding: 5px;
    background-color: #2C8A6A;
    margin: 20px auto;
    padding: 5px 10px;

}

#layers_tool {
    position: absolute;
    top: 292px;
    left: 269px;
    display: none;
    height: 200px;
    width: 180px;
    background-color: #a4e7d1;
    padding: 10px;
    overflow: hidden;

}

#layers_tool.show {
    display: block;
}

/* Ensure dropdown always opens downwards */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select:dir(rtl) {
    padding-right: 30px;
    /* Adjust as needed for arrow width */
}

select:dir(ltr) {
    padding-left: 30px;
    /* Adjust as needed for arrow width */
}

/* Position the arrow */
/* select:after {
    content: '\25BC';
    position: absolute;
    right: 10px;
    top: calc(50% - 0.5em); 
} */

/* 
#boundary_tool{
    position: absolute;
    top: 330px;
    left: 269px;
    display: none;
    height: auto;
    width: 180px;
    background-color: #a4e7d1;
    padding: 10px;
    overflow: hidden;
  
    
}

#boundary_tool select{
    width: 90%;
    border: 1px solid  #00625A;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
}

#boundary_tool.show{
    display: block;
}

#boundary_tool button{
    font-size: 15px;
    border-radius: 7px;
    padding: 5px 10px;
    background-color: #2C8A6A;
    margin: 7px 0 20px 0;
    color: #fff;
} */


.boundary_tool {}

.boundary_tool select {
    width: 100%;
    border: 1px solid #00625A;
    border-radius: 4px;
    padding: 5px;
}

#queryfilterForm select {
    height: 130px;
}

#boundary_tool.show {
    display: block;
}

.boundary_tool button {
    font-size: 15px;
    border-radius: 7px;
    padding: 5px 10px;
    background-color: #2C8A6A;
    margin: 7px 0 20px 0;
    color: #fff;
}

#village_boundary_tool.show {
    display: block;
}



#sidebar-pindrop {
    position: absolute;
    top: 332px;
    left: 268px;
    height: 180px;
    display: none;
    transition: display 0.3s ease;
    z-index: 1;
    background-color: #a4e7d1;
    padding: 10px;
    width: 180px;

}

#sidebar-pindrop input {
    width: 90%;
    border: 1px solid #00625A;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
}

#sidebar-pindrop button {
    font-size: 15px;
    border-radius: 7px;
    padding: 5px 10px;
    background-color: #2C8A6A;
    margin: 7px 0 20px 0;
    color: #fff;
}

#pindrop_tool.show {
    display: block;
}

/* .inputGroup{
    display: flex;
    flex-direction: column;
} */



#villageInfo {
    position: absolute;
    top: 50px;
    left: 269px;
    display: none;
    max-height: 650px;
    min-width: 300px;
    max-width: 600px;
    overflow: auto;
    background-color: #a4e7d17e;
    padding: 10px;
    overflow: scroll;
    border-radius: 6px;
    padding: 13px;
    /* border: 1px solid  #00625A; */
    /* border-radius: 8px; */
    /* opacity: .8; */

}

#villageInfo select {
    width: 90%;
    border: 1px solid #00625A;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
}

#villageInfo table {
    max-height: 530px;
}

#villageInfo.show {
    display: block;
}





footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    background-color: #00625A;
    color: #fff;
    z-index: 1;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    z-index: 3;

}

footer div {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3px 17px;
    font-size: 14px;


}

footer #lonlat_display {
    margin: 0;
    border-radius: 7px;
    height: 20px;
    width: 230px;
    margin-left: 20px;
    background-color: #85f7ff;
    color: #000;
}


#base_layer_container {
    position: absolute;
    top: 73px;
    right: 25px;
    z-index: 3;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

}

#base_layer_container #base_layer_container_icon {
    height: 80px;
    width: 80px;
    border: 5px solid #023C40;
}

#base_layer_container #base_layer_menu {
    background-color: #a4e7d1;
    position: absolute;
    top: 0;
    right: 100px;
    width: 170px;
    border: 1px solid #023C40;
    border-radius: 6px;
    display: none;
}

#base_layer_container #base_layer_menu.show {
    display: block;
}

#base_layer_container #base_layer_menu li {
    font-size: 14px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

#base_layer_container #base_layer_menu label,
img {
    display: block;
}

#base_layer_container #base_layer_menu label {
    width: 90%;
    padding-top: 15px;
}

#base_layer_container #base_layer_menu img {
    height: 45px;
    /* width: 45px; */
    border: 2px solid #00625A;
    border-radius: 8px;
}

#base_layer_menu li:hover {
    background-color: #c0f3e0;
}

#base_layer_menu li.active {
    background-color: #00625A;
    color: #fff;
}

#label0 {
    font-size: 13px;
    background-color: #03494e;
    margin-top: 7px;
    color: #fff;
    padding: 7px 3px;
    font-family: 'Courier New', Courier, monospace;
    width: 80px;
}

#labelState {
    font-size: 13px;
    background-color: #03494e;
    margin-top: 7px;
    color: #fff;
    padding: 7px 3px;
    font-family: 'Courier New', Courier, monospace;
    width: 80px;
}

#labelDist {
    font-size: 13px;
    background-color: #03494e;
    margin-top: 7px;
    color: #fff;
    padding: 7px 3px;
    font-family: 'Courier New', Courier, monospace;
    width: 80px;
}

#labelVill {
    font-size: 13px;
    background-color: #03494e;
    margin-top: 7px;
    color: #fff;
    padding: 7px 3px;
    font-family: 'Courier New', Courier, monospace;
    width: 80px;
}






/* .scaleLine{
    position: absolute;
    bottom: 100px;
    right: 100px;
    z-index: 4
    
} */

#scale-line-control {
    position: absolute;
    width: 150px;
    height: 20px;
    bottom: 50px;
    right: 240px;
    font-weight: 600;
    /* background-color: rgba(255, 255, 255, 0.5); */
    font-size: 12px;
    z-index: 90;
    opacity: 1;
    padding: 40px;
    font-weight: 900;
}

#scale-line-control-cont {

    padding: 40px;
    position: absolute;
    left: 670px;
    bottom: 27px;
    z-index: 9;
}

.ol-scale-text {
    font-size: 16px !important;
    font-weight: 700 !important;
}

.ol-scale-step-text {
    font-size: 13px !important;
    font-weight: bolder !important;
}

/* 
#scale-line-control-container{
    padding: 50px;
} */

canvas {
    border: 3px solid #031716;
}

#legend {
    padding: 7px 15px;
    width: 240px;
    position: absolute;
    bottom: 48px;
    right: 3px;
    max-height: 200px;
    overflow: auto;
    z-index: 9;
    background-color: #fff;
    border-radius: 6px;

}

#scale-line-control {
    width: 270px;
}

#additionalTextSection {
    width: 200px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#additionalTextSection h2 {
    text-align: center;
    font-weight: 900;
}

#aboutSection {
    width: 1950px;
    height: 200px;
    display: flex;
    flex-direction: row;
    /* margin: auto; */
    /* align-items: center;
    justify-content: center; */
    letter-spacing: 7px;
}

.canvas-about {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#schoolHoverPopup {
    position: absolute;
    top: 100px;
    left: 200px;
    height: 40px;
    width: 100px;
    z-index: 110;
    background-color: #330101;
}




#info {
    position: absolute;
    top: 60px;
    right: 150px;
    display: none;
    max-height: 500px;
    background-color: rgba(255, 255, 255, 0.74);
    text-shadow: 0px 0px 1px rgb(255, 255, 255);

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #b6b6b6;
    /* border: 1px solid  #00625A; */
    /* border-radius: 8px; */

}

#info select {
    width: 90%;
    border: 1px solid #00625A;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
}

#info.show {
    display: block;
}

/* popup click info */
#info-toggle {
    position: absolute;
    top: 5px;
    right: 3px;
}

#upload-info-toggle {
    position: absolute;
    top: 3px;
    right: 3px;
}

#info-content {
    max-height: 480px;
    overflow: scroll;
}

#info-content table {
    max-width: 200px;
}




/*  */

#query-textbox {
    /* width: 100%;
    padding: 10px;
    height: 40px; */
    width: 100%;
    height: 60px;
    padding: 10px;
}


#queryfilterForm {
    display: flex;
    justify-content: space-between;
}

#query-operator {
    display: flex;
    align-items: center;
    justify-content: center;

}


.query-operator button {
    color: #000;
    padding: 5px;
    border-radius: 5px;
    width: 30px;
    margin: 4px;
    background: linear-gradient(to top, #006666 0%, #00ffcc 100%);

}

.andorquerybtn button {

    width: 50px;

}

.popup-header {

    padding: 10px;
    text-align: center;
    color: #fff;
    height: 40px;
    background: #00bf8f;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #001510, #00bf8f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #001510, #00bf8f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* #queryfilterForm>div {
    width: 40%;
}

#queryfilterForm input {
    width: 100%;
}


#query-builder-in {
    display: block;
    } */

/* print-info-icon */
#query-collapse-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

#print-info-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* #info-popup-head{
    position: fixed;
    background-color: #00625A;
    width: auto;
  } */


/* #query-builder-in label {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px #fffdff;
}

#query-builder-in>div {

    margin-top: 7px;
}

#query-cont-field-zoom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#query-cont-field-zoom div {
    width: 33%;
} */




#buffer-results {
    position: absolute;
    top: 10px;
    left: 269px;
    max-height: 530px;
    min-width: 300px;
    max-width: 650px;
    overflow: auto;
    /* Use auto to show scrollbars only when needed */
    background-color: #a4e7d1f2;
    /* Slightly more opaque for better readability */
    padding: 15px;
    /* Consolidated padding */
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow for depth */
    display: none;
    /* Initial state for toggle */
}


#query-results {
    position: absolute;
    top: 20px;
    left: 269px;
    max-height: 530px;
    min-width: 300px;
    max-width: 650px;
    overflow: auto;
    /* Use auto to show scrollbars only when needed */
    background-color: #a4e7d1f2;
    /* Slightly more opaque for better readability */
    padding: 15px;
    /* Consolidated padding */
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow for depth */
    display: none;
    /* Initial state for toggle */
}

/* sidebar within filter */
.sidebar-dropdown-options{
position: relative;
top: 0%;
left: 0;
width: 100%;
border: 1px solid #ccc;
background-color: #fff;
z-index: 10;
max-height: 150px;
overflow-y: auto;
display: none;
}